<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mantz_it.hackrf_android"
    android:versionCode="11"
    android:versionName="1.11" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />
    
    <uses-feature android:name="android.hardware.usb.host" />

</manifest>
